<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta htt-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
    <h1>To Do List</h1>
    <form>
        <input type="text" name="description" id="description" placeholder="Add task"/>
        <button id="postBtn">Add</button>
    </form>
    <h3>Open Items</h3>
    <ul>
        {{# openTasks }}
        <li>
            {{description}}
            <div class="button-div">
                <button id="patchBtn" task-id="{{_id}}" completed-status="{{completed}}">Mark as completed</button>
                <button id="delBtn" task-id="{{_id}}">Delete</button>
            </div>
        </li>
        {{/ openTasks }}
    </ul>
    <h3>Completed</h3>
    <ul>
        {{# completedTasks }}
        <li>
            {{description}}
            <div class="button-div">
                <button id="patchBtn" task-id="{{_id}}" completed-status="{{completed}}">Undone</button>
                <button id="delBtn" task-id="{{_id}}">Delete</button>
            </div>
        </li>
        {{/ completedTasks }}
    </ul>
</body>
<script src='js/todo-actions.js'></script>
</html>